ul {
    list-style-type: none;
}

#node-list {
    background: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    overflow: scroll;
    margin-bottom: 10px;
}

#node-detail {
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 10px;
}
