{% extends 'base.twig' %}

{% block content %}
    <h1>Jackrabbit admin</h1>
    <ul>
        <li>
            <a href="/nodes">Nodes</a>
        </li>
        <li>
            <a href="/node-types">Node types admin</a>
        </li>
    </ul>
{% endblock %}
