{% extends 'base.twig' %}

{% block content %}
    <h1>{{ node.getPropertyValue('title') }}</h1>
    {% if node.hasProperty('body') %}
        <div class="body">
            {{ node.getPropertyValue('body') | raw }}
        </div>
    {% endif %}
    <p>
        <a href="/">Back to list</a>
    </p>
{% endblock %}
