{% extends 'base.twig' %}

{% block content %}
    <h1>Nodes</h1>

    <div id="node-list"></div>
{% endblock %}

{% block javascript %}
    <script src="/assets/vendor/js/jstree.min.js"></script>
    <script src="/assets/js/node-tree.js"></script>
{% endblock %}
